<launch>

  <node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" respawn="true" output="screen">
  </node>
  
  <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>
      <remap from="joint_states" to="robot/joint_states"/> 
  <node name="move_group_server" pkg="zhen_baxter_moveit" type="move_group_server" respawn="true" output="screen">
  </node>
  
  <node name="move_group_explore_server" pkg="zhen_baxter_moveit" type="move_group_explore_server" respawn="true" output="screen">
  </node>

  <node pkg="baxter_pnp_one_arm_cartesian_sim" type="baxter_pnp.py" name="pnp" output="screen"/>

</launch>
